body {
  background-image: url('pages/img/bg-image.jpg');
  margin: 0;
}

.main {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.63);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.content {
  width: 60vw;
  min-height: 700px;

  z-index: 1;
  margin-top: 10px;
  margin-bottom: 100px;

}

.timer {
  width: 100vw;
  font-size: 200%;
  color: white;
  user-select: none;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  padding: 2%;
  text-align: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin-top: 10px;
}

.form label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

form{
  background-color:white;
  border-radius:100px;
}



#value {
  width: 700px;
  border: none;
  border: 2px solid black;
  padding: 1%;
  font-size: 140%;
  border-radius: 40px;
  padding-left: 50px;
}


#btn {
  width: 200px;
  padding: 1%;
  font-size: 120%;
  background-color: rgb(0, 88, 0);
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#btn:hover {
  background-color: rgb(2, 126, 2);
}

.items {

  padding: 3%;
}

.description {
  padding: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 120%;
}

.description button {
  padding: 1%;
  background-color: black;
  color: white;
  font-size: 90%;
  border: none;
  border-radius: 40px;
  width: 200px;
  cursor: pointer;
}

.is-completed {
  opacity: 0.5;

}

.blank-info {
  text-align: center;
  opacity: 0.6;
  color:white;
}

.element-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  border-radius:10px;
}

.element-content{
  width:60%;
}

.element-date{
  text-align:center;
  width:20%;
}

.element-button button{
  height:45px;
}